body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    padding: 10px 200px;
    text-align: center;
}

p {
    margin: 10px 0px;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-size: 18px;
    font-style: italic;
}
#cards-display {
    display: flex;
    flex-direction: row;
}

.cards-title {
    font-size: 20px;
    font-weight: bold;
}

#dealer-cards {
    width: 50%;
}
#player-cards {
    width: 50%;
}
#choices {
    display: flex;
    justify-content: center;
}

button {
    background-color: goldenrod;
    border: none;
    font-size: 14px;
    padding: 10px 35px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin: 5px 5px;
}